<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.second.api.dao.user.UserDao">

	<resultMap id = "getUserInfo" type = "com.second.api.model.user.User">
		<id column="id" property="id" />
    	<result column="mobile" property="mobile" />
    	<result column="userName" property="name" />
	</resultMap>

	<select id = "getUserInfo" resultMap = "getUserInfo" parameterType = "String">
		SELECT id,mobile,userName FROM yyq_user WHERE userName = #{names}
	</select>

</mapper>